.nav {
//  @include clearfix;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: $mainColour;

//  @include breakpoint($tablet-portrait) {
    width: 120px;
//  }


  .logo {
//    @include nav-block-item;
//    float: left;
//    border-right: solid 1px lighten($mainColour, 5%);

//    @include breakpoint($tablet-portrait) {
      border-right: 0;
//    }

    &:hover {
      background-color: lighten($mainColour, 5%);
    }
  }

  ul {
//    @include horizontal-list;
    float: right;

    li {
      padding: 0;

//      @include breakpoint($tablet-portrait) {
//        &.network {
//          a {
//            $nav-size: 50px;
//            width: $nav-size;
//            height: $nav-size;
//            line-height: $nav-size;
//
//            [class^="icon-"],
//            [class*=" icon-"] {
//              font-size: 1.3em;
//            }
//          }
//
//          &.github a {
//            border-right: solid 1px lighten($mainColour, 5%);
//          }
//
//          &.twitter a {
//            border-right: solid 1px lighten($mainColour, 5%);
//          }
//
//          &.google-plus a {
//            border-right: solid 1px lighten($mainColour, 5%);
//          }
//
//          &.feed a {
//          }
//        }
//      }
    }

    a {
//      @include nav-block-item;
      float: left;
      border-left: solid 1px lighten($mainColour, 5%);

//      @include breakpoint($tablet-portrait) {
//        border-left: 0;
//        border-top: solid 1px lighten($mainColour, 5%);
//      }
    }

    [class^="icon-"],
    [class*=" icon-"] {
      font-size: 1.1em;
      line-height: inherit;

//      @include breakpoint($tablet-portrait) {
//        font-size: 1.6em;
//      }
    }
  }
}
